// 主色
$themeColor: #409EFF;

// 辅助色
$successColor: #67C23A;
$warningColor: #E6A23C;
$dangerColor: #F56C6C;
$infoColor: #909399;

// 中性色
$mainTextColor: #303133;
$conventionalTextColor: #606266;
$subTextColor: #909399;
$placeholderTextColor: #C0C4CC;

$FirstLevelBorderColor: #DCDFE6;
$secondLevelBorderColor: #E4E7ED;
$thirdLevelBorderColor: #EBEEF5;
$fourthLevelBorderColor: #F2F6FC;

$baseBlackColor: #000000;
$baseWhiteColor: #FFFFFF;
$transparentColor: transparent;
