/* radio */
.yt-radio {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  outline: none;
  color: #606266;
  cursor: pointer;
}

.yt-radio__input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.yt-radio__inner {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #dcdfe6;
  background-color: #fff;
  box-sizing: border-box;
}
.yt-radio__inner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  transition: transform .15s ease-in;
}
.yt-radio.is-checked .yt-radio__inner {
  border-color: #409eff;
  background: #409eff;
}
.yt-radio.is-checked .yt-radio__inner::after {
  transform: translate(-50%, -50%) scale(1);
}

.yt-radio__original {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  outline: none;
  z-index: -1;
}